<!DOCTYPE HTML>
<html lang = "en">
<head>
<!-- basic.html -->
<title>ReversiPy</title>
<meta charset = "UTF-8" />

<link rel="stylesheet" href="{{ url_for('static', filename='src/css/game.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='src/css/splashscreen.css') }}">

</head>
<body>

<div id="splash-container">
    <div class="ring-wrapper">
        <div class="outer ring">
        </div>
    </div>
    <div class="ring-wrapper">
        <div class="inner ring">
        </div>
    </div>
    <div class="ring-wrapper">
        <div class="middle ring">
        </div>
    </div>
</div>
      

<h2 id='Title'>ReversiPy</h2>
<div id="spa">
    
</div>

<script src="{{ url_for('static', filename='src/js/lib/jquery-3.4.1.min.js') }}"></script>

<!-- SPA -->
<script src="{{ url_for('static', filename='src/js/SPA.js') }}"></script>

<!-- Aditional modules -->
<script src="{{ url_for('static', filename='src/js/GameModule.js') }}"></script>
<script src="{{ url_for('static', filename='src/js/ResponseModule.js') }}"></script>


<script>
    $(function(){
        SPA.init($("#spa"));
    });
</script>

</body>
</html>