<!DOCTYPE HTML>
<html lang = "en">
<head>
<!-- basic.html -->
<title>ReversiPy</title>
<meta charset = "UTF-8" />

<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">

</head>
<body>
<h2>ReversiPy</h2>
<div id="spa">
    
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

<!-- SPA -->
<script src="{{ url_for('static', filename='js/SPA.js') }}"></script>

<!-- Aditional modules -->
<script src="{{ url_for('static', filename='js/GameModule.js') }}"></script>
<script src="{{ url_for('static', filename='js/ResponseModule.js') }}"></script>


<script>
    $(function(){
        SPA.init($("#spa"));
    });
</script>

</body>
</html>